.nav-wrapper{
    background-color:#6f4037 ;
    padding:5px;
    padding-bottom: 2px;
    font-family: bree;
}

.slider .indicators .indicator-item.active{
    background-color:#6f4037 ;

}

.coffetext{
    margin-top:70px;
    margin-bottom: 20px;

};

.parallax-container{
    min-height: 280px;
    height: auto;
    width: 100%;

};

.icon-coffe{
    color: #6f4037;
}

.footer-one{
    background:#6f4037;
}

.footer-two{
    background:#53312a;
}
